/* css for shopping cart */
.media .thumbnail .media-object {
  width: 72px; 
  height: 72px;
} 
.media-body {
  margin-left:20px;
}
.media-heading {
  color:#53627c;
}
.media-heading a {
  color:#53627c;
}
.media-heading a:hover {
  color:#53627c;
  text-decoration: none;
}
.text-secondary {
  margin-left:10px;
}

.text-secondary a {
  text-decoration: none;
}
.media-body span {
  margin-left:20px;
  margin-bottom:15px
}
.col-sm-1 {
  text-align: center;
}
